<link rel="stylesheet" href="/stylesheets/flash.css" />

<div class="alertBox" id="alertBox">
  <div class="alert flash-message" id="flashMsg">
    <% if(success && success.length) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= success %>
    </div>
    <% } %> <% if(error && error.length) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= error %>
    </div>
    <% } %>
  </div>
</div>

<script src="/javascript/flash.js"></script>
