<footer class="footer bg-dark py-3 mt-auto">
  <div class="container text-center text-muted">
    <span>Aryans's &copyCampGrounds 2021</span>
    <div>
      <span
        >SourceCode @
        <a href="https://github.com/Aryan271/Campgrounds">Github</a></span
      >
    </div>
  </div>
</footer>
