<footer class="footer bg-dark py-3 mt-auto">
  <div class="container text-center text-muted">
    <span>Aryans's &copyCampGrounds 2020</span>
    <div>
      <span>SourceCode @ <a href="">Github</a></span>
    </div>
  </div>
</footer>
